integrations/n8n/workflows/release-notify.json
{
  "name": "Autopilot — Release Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autopilot/release-complete",
        "responseMode": "onReceived"
      },
      "id": "webhook-trigger",
      "name": "Release Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "autopilot-release"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-msg",
              "name": "message",
              "value": "=✅ *Release Complete*\n\n*Component:* {{ $json.body.component }}\n*Version:* {{ $json.body.version }}\n*SHA:* `{{ $json.body.sha }}`\n*Promoted to:* {{ $json.body.promoted_to || 'N/A' }}\n*Workspace:* {{ $json.body.workspace_id }}\n*Run:* {{ $json.body.run_url }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Release Webhook": {
      "main": [
        [{"node": "Format Message", "type": "main", "index": 0}]
      ]
    },
    "Format Message": {
      "main": [
        [{"node": "Send to Slack", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"name": "autopilot"},
    {"name": "release"},
    {"name": "notifications"}
  ]
}
